/**
* @name ActivityStyleEmbeds
* @author 11pixels
* @version 0.4
* @invite vUN9sNW
* @description Changes embeds to look like the (removed) Activity Tab styled embeds
*/

.embedWrapper_b558d0.embedFull_b0068a {
  background: var(--background-secondary-alt);
  display: block !important;
  border: none;
  transition: .2s background;
  position: relative;
  max-width: 400px !important;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a {
  display: flex !important;
  flex-direction: column;
  padding: 16px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedMedia_b0068a {
  position: unset !important;
  width: unset !important;
  height: 100% !important;
  order: -10;
  margin: -16px -16px 0 -16px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 16px;
  background: var(--background-modifier-hover);
}
.embedWrapper_b558d0.embedFull_b0068a .embedMedia_b0068a img {
  width: auto !important;
  position: static;
  margin: 0 auto;
  height: auto !important;
  border-radius: 0;
  max-height: 300px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedProvider_b0068a,
.embedWrapper_b558d0.embedFull_b0068a .embedFooter_b0068a,
.embedWrapper_b558d0.embedFull_b0068a .embedAuthor_b0068a {
  order: 498;
  border-top: solid 1px var(--background-modifier-accent);
  padding: 16px;
  margin: 14px -16px -16px -16px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedAuthor_b0068a {
  order: 499;
  padding-bottom: 8px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedFooter_b0068a {
  order: 500;
}
.embedWrapper_b558d0.embedFull_b0068a .embedFooter_b0068a:after {
  display: block;
  float: right;
  width: 2rem;
  content: "";
}
.embedWrapper_b558d0.embedFull_b0068a .embedAuthor_b0068a~.embedFooter_b0068a {
  margin-top: 14px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedProvider_b0068a~.embedAuthor_b0068a {
  margin-top: 16px;
}
.embedWrapper_b558d0.embedFull_b0068a:hover {
  background: var(--background-tertiary);
}
.embedWrapper_b558d0.embedFull_b0068a .embedTitleLink_b0068a.embedLink_b0068a:hover {
  text-decoration: none;
}
.embedWrapper_b558d0.embedFull_b0068a .embedThumbnail_b0068a {
  order: -1;
  margin-left: calc(100% - 20px);
  margin-top: -4px;
  margin-bottom: -24px;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
}
.embedWrapper_b558d0.embedFull_b0068a .embedThumbnail_b0068a img {
  width: 100% !important;
  height: auto !important;
}
.embedWrapper_b558d0.embedFull_b0068a .embedTitleLink_b0068a {
  padding: 0;
}
.embedWrapper_b558d0.embedFull_b0068a .embedAuthorIcon_b0068a {
  margin-right: -16px;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedDescription_b0068a {
  margin-top: 0;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedTitle_b0068a+.embedDescription_b0068a {
  margin-top: 8px;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedTitle_b0068a {
  margin-top: 0;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedDescription_b0068a:last-of-type,
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedFields_b0068a:last-of-type {
  margin-bottom: 6px;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedAuthor_b0068a {
  margin-bottom: -10px;
  padding-top: 12px;
}
.embedWrapper_b558d0.embedFull_b0068a .embedVideo_b0068a {
  width: 100% !important;
  height: 225px !important;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedDescription_b0068a:last-of-type {
  margin-bottom: 0px;
}
.embedWrapper_b558d0.embedFull_b0068a code {
  transition: .2s background;
}
.theme-dark .embedWrapper_b558d0.embedFull_b0068a:hover code {
  background: var(--background-floating)
}
.theme-light .embedWrapper_b558d0.embedFull_b0068a:hover code {
  background: var(--background-modifier-accent)
}
.embedWrapper_b558d0.embedFull_b0068a .embedAuthorIcon_b0068a+.embedAuthorName_b0068a:after {
  content: "";
  display: block;
  width: 2rem;
  float: right;
}
.embedWrapper_b558d0.embedFull_b0068a .embedAuthorIcon_b0068a+.embedAuthorName_b0068a:before {
  content: "";
  display: inline-block;
  width: 2rem;
}
.embedWrapper_b558d0.embedFull_b0068a .grid_b0068a>.embedAuthor_b0068a:last-of-type {
  margin-top: -16px;
  border: none;
}
.embedWrapper_b558d0.embedFull_b0068a .embedVideoImageComponent_b0068a {
  width: 100% !important;
}
.embedWrapper_b558d0.embedFull_b0068a .embedMedia_b0068a img.embedVideoImageComponentInner_b0068a {
  width: 400px !important;
}
.embedWrapper_b558d0.embedFull_b0068a {
  transition: .17s transform, .17s background, .17s box-shadow;
}
.embedWrapper_b558d0.embedFull_b0068a .embedVideo_b0068a {
  width: calc(100% + 32px) !important;
}
/* aug 17 2023 fix */
.embedAuthor_b0068a .embedAuthorIcon_b0068a+.embedAuthorName_b0068a {
  display: flex;
}
.embedFull_b0068a .embedMedia_b0068a .imageContainer_cf58b5,
.embedFull_b0068a .embedVideo_b0068a {
  justify-content: center;
}
.embedFull_b0068a .wrapper__3a7a0 {
  height: 100%;
}
.embedFull_b0068a:not(:has(.embedTitle_b0068a)) .embedImage_b0068a:has(+.embedFooter_b0068a) {
  margin-bottom: 0;
}
.embedFull_b0068a :is(.imageWrapper_d4597d, .wrapper_f72aac) {
  border-radius: 4px 4px 0 0;
}
.embedFull_b0068a .embedImage_b0068a+.embedFooter_b0068a {
  margin-top: 0;
}
.embedFull_b0068a .grid_b0068a.hasThumbnail__87e67 .embedTitle_b0068a {
  margin-right: 16px;
}
/* SourceCheck fix */
html body #app-mount .embed_d3cbe3 .embedLink_b0068a::after {
    height: 16px;
    width: max-content;
    left: unset;
}
/* =============== */

.embedFull_b0068a .embedDescription_b0068a+.imageContent_cf58b5+.embedFooter_b0068a {
  margin-top: 16px !important;
}