/**
* @name ActivityStyleEmbeds
* @author 11pixels
* @version 0.3.4
* @invite vUN9sNW
* @description Changes embeds to look like the (removed) Activity Tab styled embeds
*/

.embedWrapper-1MtIDg.embedFull-1HGV2S {
  background: var(--background-secondary-alt);
  display: block !important;
  border: none;
  transition: .2s background;
  position: relative;
  max-width: 400px !important;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE {
  display: flex !important;
  flex-direction: column;
  padding: 16px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedMedia-1mdWSP {
  position: unset !important;
  width: unset !important;
  height: 100% !important;
  order: -10;
  margin: -16px -16px 0 -16px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 16px;
  background: var(--background-modifier-hover);
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedMedia-1mdWSP img {
  width: auto !important;
  position: static;
  margin: 0 auto;
  height: auto !important;
  border-radius: 0;
  max-height: 300px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c, .embedWrapper-1MtIDg.embedFull-1HGV2S .embedFooter-3dj0UE, .embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5 {
  order: 498;
  border-top: solid 1px var(--background-modifier-accent);
  padding: 16px;
  margin: 14px -16px -16px -16px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5 {
  order: 499;
  padding-bottom: 8px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedFooter-3dj0UE {
  order: 500;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedFooter-3dj0UE:after {
  display: block;
  float: right;
  width: 2rem;
  content: "";
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+.embedFooter-3dj0UE,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+*+.embedFooter-3dj0UE,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+*+*+.embedFooter-3dj0UE,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+*+*+*+.embedFooter-3dj0UE,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+*+*+*+*+.embedFooter-3dj0UE,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthor-TJIHp5+*+*+*+*+*+.embedFooter-3dj0UE {
  margin-top: 14px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+.embedAuthor-TJIHp5,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+*+.embedAuthor-TJIHp5,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+*+*+.embedAuthor-TJIHp5,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+*+*+*+.embedAuthor-TJIHp5,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+*+*+*+*+.embedAuthor-TJIHp5,
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedProvider-1GSN0c+*+*+*+*+*+.embedAuthor-TJIHp5 {
  margin-top: 16px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S:hover {
  background: var(--background-tertiary);
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedTitleLink-1QbYA-.embedLink-1TLNja:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedTitleLink-1QbYA-.embedLink-1TLNja:hover {
  text-decoration: none;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedThumbnail-2nTasl {
  order: -1;
  margin-left: calc(100% - 20px);
  margin-top: -4px;
  margin-bottom: -24px;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedThumbnail-2nTasl img {
  width: 100% !important;
  height: auto !important;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedTitleLink-1QbYA- {
  padding: 0;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthorIcon-3pnkS4 {
  margin-right: -16px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedDescription-1DrJxZ {
  margin-top: 0;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedTitle-2n1pEb+.embedDescription-1DrJxZ {
  margin-top: 8px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedTitle-2n1pEb {
  margin-top: 0;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedDescription-1DrJxZ:last-of-type,
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedFields-2yHGHT:last-of-type {
  margin-bottom: 6px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedAuthor-TJIHp5 {
  margin-bottom: -10px;
  padding-top: 12px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedVideo-2ixt5A {
  width: 100% !important;
  height: 225px !important;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedDescription-1DrJxZ:last-of-type {
  margin-bottom: 0px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S code {
  transition: .2s background;
}
.theme-dark .embedWrapper-1MtIDg.embedFull-1HGV2S:hover code {
  background: var(--background-floating)
}
.theme-light .embedWrapper-1MtIDg.embedFull-1HGV2S:hover code {
  background: var(--background-modifier-accent)
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthorIcon-3pnkS4+.embedAuthorName-pGyUPR:after {
  content: "";
  display: block;
  width: 2rem;
  float: right;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedAuthorIcon-3pnkS4+.embedAuthorName-pGyUPR:before {
  content: "";
  display: inline-block;
  width: 2rem;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .grid-1aWVsE>.embedAuthor-TJIHp5:last-of-type {
  margin-top: -16px;
  border: none;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedVideoImageComponent-3Clc3C {
  width: 100% !important;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedMedia-1mdWSP img.embedVideoImageComponentInner-1UCVh2 {
  width: 400px !important;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S {
  transition: .17s transform, .17s background, .17s box-shadow;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S .embedVideo-2ixt5A {
  width: calc(100% + 32px) !important;
}
/* aug 17 2023 fix */
.embedAuthor-TJIHp5 .embedAuthorIcon-3pnkS4+.embedAuthorName-pGyUPR {
  display: flex;
}
.embedFull-1HGV2S .embedMedia-1mdWSP .imageContainer-10XenG,
.embedFull-1HGV2S .embedVideo-2ixt5A {
  justify-content: center;
}
.embedFull-1HGV2S .wrapper-1FP9YQ {
  height: 100%;
}
.embedFull-1HGV2S:not(:has(.embedTitle-2n1pEb)) .embedImage-2Ynqkh:has(+.embedFooter-3dj0UE) {
  margin-bottom: 0;
}
.embedFull-1HGV2S .embedImage-2Ynqkh .imageWrapper-oMkQl4 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.embedFull-1HGV2S .embedImage-2Ynqkh+.embedFooter-3dj0UE {
  margin-top: 0;
}
.embedFull-1HGV2S .grid-1aWVsE.hasThumbnail-388RMe .embedTitle-2n1pEb {
  margin-right: 16px;
}
/* SourceCheck fix */
html body #app-mount .embed-hKpSrO .embedLink-1TLNja::after {
    height: 16px;
    width: max-content;
    left: unset;
}
/* =============== */

.embedFull-1HGV2S .embedDescription-1DrJxZ+.imageContent-3Av-9c+.embedFooter-3dj0UE {
  margin-top: 16px !important;
}